.tree__node {
    display: flex;
    display: flex;
	min-height: 25px;
}

.tree__node-content {
	cursor: grab;
	border: 1px solid lightgray;
    margin: 2px;
    width: 100%;
}

.tree__node-property {
	margin: 2px;
	border: 1px solid lightgray;
	display: flex;
	margin-left: 20px;
	padding: 10px;
}

.tree__node-property-value {
	width: 100%;
}