.textarea {
    padding: 10px;
}
.textarea_content {
    border: 1px solid black;
    min-height: 100px;
    min-width: 400px;
    max-width: 400px;
    align-self: flex-start;
    margin-bottom: 20px;
    padding: 10px;
}